<mat-toolbar class="d-flex bd-highlight">


    <div class="mr-auto bd-highlight">
        <img style="width:40px; height: 40px; border-radius: 50%; " src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="usuario">
    </div>
    <div class="bd-highlight m-2">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">search</mat-icon>
    </div>
    <div class="bd-highlight m-2">
        <button mat-mini-fab color="warn" aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                  </button>

    </div>
    <div class="bd-highlight m-2">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">more_vert</mat-icon>

    </div>

</mat-toolbar>

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image">
            <img style="width:40px; height: 40px; border-radius: 50%; " src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="usuario">
        </div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="d-flex bd-highlight mb-3">

            <button type="button" class="btn btn-warning mr-auto p-2 bd-highlight">Ver locales</button>


            <button mat-mini-fab color="warn" aria-label="Example icon-button with a heart icon">
                            <mat-icon>favorite</mat-icon>
                          </button>


        </div>

    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image">
            <img style="width:40px; height: 40px; border-radius: 50%; " src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="usuario">
        </div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="d-flex bd-highlight mb-3">

            <button type="button" class="btn btn-warning mr-auto p-2 bd-highlight">Ver locales</button>


            <button mat-mini-fab color="warn" aria-label="favorito">
                                <mat-icon>favorite</mat-icon>
                              </button>


        </div>

    </mat-card-actions>
</mat-card>