<mat-sidenav-container class="animated fadeIn fast">
    <mat-sidenav #sidenav [(opened)]="opened" mode="push">
        <mat-card-header class="mt-2 ml-2">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Manuel Alvarez</mat-card-title>
            <mat-card-subtitle>
                <a style="color: #000" [routerLink]="['/perfil']">Ver tu perfil</a>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>
                <mat-icon color="primary" mat-list-icon>store_mall_directory</mat-icon>
                <h4 mat-line>
                    <a style="color: #000" [routerLink]="['/perfil']">Mis tiendas</a>
                </h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon color="warn" mat-list-icon>all_out</mat-icon>
                <h4 mat-line>
                    <a style="color: #000" [routerLink]="['/perfil']">Mis cupones</a>
                </h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon color="#000" mat-list-icon>folder</mat-icon>
                <h4 mat-line>
                    <a style="color: #000" [routerLink]="['/login']">Salir</a>
                </h4>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="d-flex bd-highlight ">
            <div class="mr-auto bd-highlight">
                <button (click)="opened=!opened" mat-icon-button aria-label="Example icon-button with a heart icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="ml-auto">
                <a [routerLink]="['/favorites']">
                    <button mat-button>Favoritos</button>
                </a>
            </div>
            <div class="bd-highlight">
                <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="">
            </div>
            <div class="bd-highlight">
                <a [routerLink]="['/search']">
                    <button mat-icon-button aria-label="search">
                        <mat-icon>search</mat-icon>
                    </button>
                </a>
            </div>
        </mat-toolbar>
        <div class="container">
            <app-ciudades></app-ciudades>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>