<div class="row mt-2">
    <div class="col-md-4 mt-2">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>La patatería</mat-card-title>
                <mat-card-subtitle>Manizales</mat-card-subtitle>
                <div class="ml-auto">
                    <button mat-icon-button aria-label="Ver mas">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                </div>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="d-flex bd-highlight mb-3">

                    <button color="primary" [routerLink]="['/tiendas/papateria']" mat-button class="mr-auto p-2 bd-highlight">PRODUCTOS</button>
                    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" (click)="favorite('Agregado a favoritos')">
                                    <mat-icon>favorite</mat-icon>
                                </button>
                </div>
            </mat-card-actions>
        </mat-card>

    </div>
    <div class="col-md-4 mt-2">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <div class="ml-auto">
                    <button mat-icon-button aria-label="Ver mas">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                </div>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="d-flex bd-highlight mb-3">
                    <button color="primary" mat-button class="mr-auto p-2 bd-highlight">PRODUCTOS</button>
                    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" (click)="favorite('Agregado a favoritos')">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>

    </div>
    <div class="col-md-4 mt-2">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <div class="ml-auto">
                    <button mat-icon-button aria-label="Ver mas">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="d-flex bd-highlight mb-3">
                    <button color="primary" mat-button class="mr-auto p-2 bd-highlight">PRODUCTOS</button>
                    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" (click)="favorite('Agregado a favoritos')">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>

    </div>
</div>