<div class="container ">
    <div class="row">
        <div class="col-md-12 col-sm-12 text-center ">
            <div style="display:auto; margin-top:61PX">
                <div class="form-group mt-4">
                    <img src="/assets/icono2x.png" alt="" class="img-fluid">
                </div>

                <div class="form-group mt-4 d-none d-lg-block ">
                    <p>Encuentra locales en donde puedas pagar con criptomonedas</p>
                </div>

                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <div class="mt-4">
                                <button class="btn btn-block p-2" mat-raised-button color="primary">Ingresar con Facebook</button>
                            </div>
                            <div class="mt-4">
                                <button class="btn btn-block p-2" mat-raised-button color="warn">Ingresar con Google</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-2">
                        <p>o</p>
                    </div>
                    <div class="form-group mt-2">
                        <p>Regístrese con correo electrónico</p>
                    </div>


                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <div class="mt-2">
                                <input type="email" class="form-control" id="email" placeholder="jhon.doe@gmail.com">
                            </div>
                            <div class="mt-2">
                                <input type="password" class="form-control" id="password" placeholder="*******">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-2">

                    <button type="button" class="btn btn-warning">Ingresar</button>
                </div>





                <footer class="fixed-bottom">
                    <p>manuelalvarezco</p>
                </footer>
            </div>
        </div>
    </div>
</div>